.virtualizedTable {
    height: 100%;
    width: 100%;
}

.table__header {
    width: 98%;
    max-width: 98%;
}

.table__headers_columns {
    display: flex;
}

.table__body {
    position: relative;
    width: 100%;
    overflow-y: scroll;
}

.table__body_rows {
    width: 100%;
}

.virtualizedTable_item {
    height: 100%;
    width: 100%;
}