.welcome {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}



/* welcome's components */
.welcome img {
    width: 60%;
    height: auto;
    max-width: 60%;
    max-height: 100%;
    object-fit: cover;
}