.individualTimetableManager {
    width: 100%;
    height: 100%;
}


/* individualTimetableManager's components */
.top_contents {
    height: 80px;
    width: 100%;
}

.mid_contents {
    height: calc(100% - 80px);
    width: 100%;
}


/* mid_contents's components */
.search_filter {
    width: calc(100% - 30px);
    height: 50px;
    padding: 20px 15px 15px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.facility_manager {
    width: calc(100% - 30px);
    height: calc(100% - 85px - 35px);
    padding: 15px 15px 20px 15px;
    display: flex;
    overflow: hidden;
}



/* search_filter's components */
.search_filter .period {
    width: calc(50% - 30px);
    min-width: 520px;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search_filter .building {
    width: calc(25% - 30px);
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search_filter label {
    margin-right: 10px;
    font-size: 18px;
    font-weight: 600;
    user-select: none;
}

.search_filter input[type="date"] {
    flex-grow: 1;
    height: 26px;
    padding: 5px;
    border-radius: 10px;
    border: 2px solid var(--component-main-color);
    font-size: 17px;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

.search_filter span {
    margin-left: 5px;
    margin-right: 5px;
    font-size: 20px;
    font-weight: 600;
}

.search_filter select {
    flex-grow: 1;
    height: 40px;
    padding: 5px;
    border-radius: 10px;
    border: 2px solid var(--component-main-color);
    font-size: 17px;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

.search_filter .buttons {
    width: calc(25% - 30px);
    padding-left: 15px;
    padding-right: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    user-select: none;
}

.search_filter .buttons .search {
    height: 37.5px;
    width: 75px;
    cursor: pointer;
    border: 2px solid var(--component-main-color);
    background-color: var(--component-main-light-color);
    border-radius: 13px;
    padding: 1px;
    font-size: 18px;
    font-weight: 600;
    color: var(--component-innertext-color);
}

.search_filter .buttons .search:hover {
    background-color: var(--component-main-color);
    color: var(--component-innertext-select-color);
}

.search_filter .buttons .register {
    height: 37.5px;
    width: 170px;
    cursor: pointer;
    border: 2px solid var(--component-main-color);
    background-color: var(--component-main-light-color);
    border-radius: 13px;
    padding: 1px;
    font-size: 18px;
    font-weight: 600;
    color: var(--component-innertext-color);
}

.search_filter .buttons .register:hover {
    background-color: var(--component-main-color);
    color: var(--component-innertext-select-color);
}



/* facility_manager's components */
.facility_table {
    height: 100%;
    width: calc(35% - 10px);
    padding-right: 10px;
}

.facility_timetable {
    height: 100%;
    width: calc(30% - 20px);
    padding-left: 10px;
    padding-right: 10px;
}

.event_info {
    height: 100%;
    width: calc(35% - 10px);
    padding-left: 10px;
    overflow: hidden;
}