:root {
    --component-main-color: #FBAF3E;
    --component-inner-color: white;
    --component-inner-select-color: black;
    --component-innertext-color: black;
    --component-innertext-select-color: white;
}