:root {
    /* component */
    --component-main-color: #FBAF3E;
    --component-main-light-color: #ffe7c2;
    --component-inner-color: white;
    --component-inner-select-color: black;
    --component-innertext-color: black;
    --component-innertext-select-color: white;


    /* button */
    --button-text-light-color: #ffffff;
    --button-text-dark-color: #000000;

    --button-positive-color: #08b66d;
    --button-positive-light-color: #7be6b9;

    --button-negative-color: #ff7b7b;
    --button-negative-light-color: #ffbaba;

    --button-blank-color: #696969;
    --button-blank--light-color: #979797;

    --button-gray-color: #D2D2D2;
    --button-gray-light-color: #f9f9f9;
}